@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito sans";
}

ul,
li,
p,
a {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

img {
    width: 100%;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

h2 {
    text-align: center;
    color: #004F44;
    font-size: 35px;
    padding-bottom: 50px;
    text-transform: capitalize;
}

/* navbar styling  */
nav {
    background-color: #004F44;
}

.navbar {
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink ul {
    display: flex;
    align-items: center;
}

.navlink ul li {
    font-size: 18px;
    margin: 0 25px 0 0;

}

.navlink ul li a {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}

.open {
    display: none;
}

.closebutton {
    display: none;
}

/* navbar stylng end */
/* BANNER CSS START */
.detail h1 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
    /* 128.125% */
    letter-spacing: 1.68px;
    text-transform: uppercase;
}

.baner-slider {
    position: relative;

}

.detail {
    /* display: flex; */
    position: absolute;
    top: 33%;
    left: 10%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.multiple-items .slick-dots li button:before {
    font-family: 'slick';
    font-size: 29px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.multiple-items .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #FFB8F2;
}

.multiple-items .slick-dots {
    position: absolute;
    bottom: 11%;
    right: 43%;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dotted.slick-slider {
    margin: 0;
}

button {
    background: #FFDE59;
    padding: 10px 40px 10px 40px;
    border: 1px solid #FFDE59;
    color: #004F44;
    font-weight: 700;
}

button:hover {
    background: transparent;
    border: 1px solid #FFDE59;
    color: #FFDE59;
}


/* BANNER CSS END */
/* 
section styling */
section {
    padding: 80px 0;
}

ul.nested {
    list-style: none;
    margin: 0;
    padding: 5px 20px;
    width: 100%
}

ul li {
    padding: 5px
}

ul li ul {
    list-style: none;
    margin: 0;
    padding: 0 20px
}

label {
    font: bold 12pt "Nunito sans";
}

.box1 h2 {
    text-align: left;
    padding-bottom: 20px;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
}

/* section styling end */
/* section1 styling */
.section1 {
    padding: 150px 0;
    background-image: url(../img/banner.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.section1 .box h1 {
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
}

.section1 .box p {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    max-width: 700px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* section1 styling end */
/* section2 styling */
.section2 {
    padding: 80px 0;
}

.hotel_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.hotel_box p {
    margin: 20px 0;
}

/* section2 styling end */
/* section8 css start */
.section8 {
    padding: 100px 0;
    background: url(../img/bgsection.png);
    background-size: cover;
    background-position: center;
}

.section8 .row {
    padding: 80px;
}

.gallery p {
    color: #000;
    font-family: Inter;
    font-size: 17.313px;
    font-style: normal;
    font-weight: 300;
    line-height: 30.01px;
    margin: 31px 0;
    /* 173.333% */
}

.gallery span {
    color: #000;
    font-family: Inter;
    font-size: 17.313px;
    font-style: normal;
    font-weight: 300;
    line-height: 30.01px;

}

.shoe a {
    color: #000;
    font-family: Inter;
    font-size: 17.313px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.01px;
    text-decoration-line: underline;
}

.icon img {
    padding-top: 26px;
}

/* section8 css end */
/* footer styling */

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

section {}

.footer {
    background-image: url(../img/footerbg.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 40px;
}

/*END FOOTER SOCIAL DESIGN*/
.single_footer h4 img {
    width: 150px;
}


.single_footer h4 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

.single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: #fff;
    margin-top: 20px;
}

.single_footer p {
    color: #fff;
}

.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.single_footer ul li {
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

.single_footer ul li a {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 15px;
    text-transform: capitalize;
}

.single_footer ul li a:hover {
    color: #FFDE59;
}

.single_footer_address {}

.single_footer_address ul {}

.single_footer_address ul li {
    color: #fff;
}

.single_footer_address ul li span {
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*START NEWSLETTER CSS*/
.Sign {
    display: block;
    position: relative;
    margin-top: 15px;
    width: 100%;
}

.Sign__input {
    background-color: #fff;
    border: medium none;
    border-radius: 5px;
    color: #333;
    display: block;
    font-size: 15px;
    font-weight: 500;
    height: 60px;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 0 150px 0 20px;
    text-align: center;
    text-transform: capitalize;
    outline: none;
    width: 100%;
}


.Sign__btn {
    background-color: transparent;
    border-radius: 0 25px 25px 0;
    color: #004F44;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}

.Sign__btn i {
    transition: all 0.3s ease 0s;
}


.Sign__btn:hover i {
    color: #FFDE59;
}


/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {
    margin-top: 40px;
}

.social_profile ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.social_profile ul li {
    float: left;
}

.social_profile ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0px 5px;
    font-size: 18px;
    color: #fff;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    border: 1px solid #FFDE59;
}


.social_profile ul li a:hover {
    background: #FFDE59;
    border: 1px solid #FFDE59;
    color: #004F44;
    border: 0px;
}

/*END SOCIAL PROFILE CSS*/
.copyright {
    margin-top: 70px;
    padding-top: 40px;
    color: #fff;
    font-size: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
}

.copyright a {
    color: #fff;
    transition: all 0.2s ease 0s;
}

.copyright a:hover {
    color: #FFDE59;
}

/* footer styling end */

/* hotel styling */
/* section3 hotel styling */
.hotel {
    padding: 80px 0;
}

.hotel_section3 {
    padding: 80px 0;
    background-image: url(../img/collection.png);
    background-position: center;
    background-size: cover;
}

.hotel_section3 .collection_greece {
    height: 100%;
    padding: 10px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.collection_greece h3 {

    color: #fff;
    text-align: center;

}

.collection_greece p {
    padding-bottom: 10px;

}

.hotel_section3 .row {
    display: flex;
    justify-content: center;
}

/* section3 hotel styling end */
/* hotel section 4 styling */
.hotel_section4 {
    padding: 100px 0;
}

.hotel_section4 p {
    text-align: center;

}

/* hotel section 4 styling end */
/* game section */
.game_section {
    padding: 80px 0;
}

.game_inner p {
    font-size: 18px;
    text-align: center;
}

.game_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.game_section2 {
    padding: 80px 0;
    background: #004F44;
}

.collection_game {
    color: #fff;
    text-align: left;
}

.collection_game ul li {
    color: #fff;
    text-align: left;
    list-style-type: disc;
}

.game_section2 h2 {
    color: #FFDE59;
}
.game_section3{
    padding: 80px 0;
}
.game_casino {
    text-align: center;
}
.game_casino p {
    text-align: center;
    padding: 10px 0;
}
.game_casino h3{
margin-top: 10px;
}
/*privacy-policy start*/
.privacy__section {
    position: relative;
    height: 350px;
    background-image: url(../img/privacybanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.privacy__section::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: -1;
}
.privacy-policy {
    padding: 40px 0;
}
.privacy__section .banner__text h1 {
    color: #fff;
}
.terms__section .banner__text h1 {
    color: #fff;
}
.content-wrap  li {
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
        color:#000;
        padding-bottom: 8px
}
.terms {
    padding: 40px 0;
}

.content-wrap h4 {
        color:#004F44;
        font-size: 21px;
        margin-bottom: 0;
    }

    .content-wrap  p {
        font-size: 16px;
        padding-bottom: 15px;
    }


/*privacy-policy end*/

/*terms-conditon start*/
.terms__section {
    position: relative;
    height: 350px;
    background-image: url(../img/termsbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

   
}
.terms__section::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: -1;
}
/*terms-conditon-end/